<div class="container">
<% @purchase.inspect %>
<h2> Purchase for Supplier : <%= @purchase.contact.name %> </h2>
<%= nested_form_for((@purchase), :html => { :class => "form-inline"}) do |f| %>
 	<div class="field row">
    <%= f.hidden_field :contact_id %>
  </div>
  <div class="field row">
    <%= f.label :stone_type, :class => "span2" %>
    <%= f.text_field :stone_type %>
  </div><br />
  <div class="field row">
    <%= f.label :sub_type, :class => "span2" %>
    <%= f.text_field :sub_type %>
  </div><br />
  <div class="field row">
    <%= f.label :shape, :class => "span2" %>
    <%= f.text_field :shape %>
  </div><br />
  <div class="field row">
    <%= f.label :piece, :class => "span2" %>
    <%= f.text_field :piece %>
  </div><br />
  <div class="field row">
    <%= f.label :net_weight, :class => "span2" %>
    <%= f.text_field :net_weight %>
  </div><br />
  <div class="field row">
    <%= f.label :purchase_price, :class => "span2" %>
    <%= f.text_field :purchase_price %>
  </div><br />  
  <div class="field row">
    <%= f.label :length, :class => "span2" %>
    <%= f.text_field :length %>
  </div><br />  
  <div class="field row">
    <%= f.label :breadth, :class => "span2" %>
    <%= f.text_field :breadth %>
  </div><br />  
  <div class="field row">
    <%= f.label :sarafa_weight, :class => "span2" %>
    <%= f.text_field :sarafa_weight %>
  </div><br />  
  <div class="field row">
    <%= f.label :gross_weight, :class => "span2" %>
    <%= f.text_field :gross_weight %>
  </div><br /> 
  <div class="field row">
    <%= f.label :due_date, :class => "span2" %>
    <%= f.date_select :due_date %>
  </div><br />
  <div class="field row">
    <%= f.label :discount, :class => "span2" %>
    <%= f.text_field :discount %>
  </div><br />
  <div class="field row">
    <%= f.label :broker_name, :class => "span2" %>
    <%= f.text_field :broker_name %>
  </div><br />
 	<div class="field row">
    <%= f.label :remarks, :class => "span2" %>
    <%= f.text_field :remarks %>
  </div><br />
  <h3> Details </h3>
		<table class="table table-bordered">  
			<thead>  
				<tr>  
					<th>Stock No</th>
					<th>Piece</th>
					<th>Net Weight</th>    
					<th>Remarks</th>
					<th>Remove</th>
				</tr>  
			</thead>  
			<tbody>
				<%= f.fields_for :purchase_stocks, :wrapper => false do |item| %>
					<tr class="fields">
						<td><%= item.hidden_field :id %><%= item.collection_select :stock_id, Stock.all, :id, :stock_no %></td>
						<td><%= item.text_field :piece %></td>                                                   
						<td><%= item.text_field :net_weight %></td>
						<td><%= item.text_field :remarks %></td>	
						<td><%= item.link_to_remove "Remove Item", :class => "btn btn-primary" %></td>
					</tr>
				<% end %>				
			</tbody>	
		</table> 
		<%= f.link_to_add "Add Item", :purchase_stocks, :class => "btn btn-primary" %>

<div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Back', :back, :class => "btn btn-primary" %>
    <%= link_to 'Home', pages_index_path, :class => "btn btn-primary" %>
</div>
<% end %>


<% if @purchase.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this Purchase-Stock from being saved:</h2>

    <ul>
    <% @purchase.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>

