<div class="container">
<h2>Details for Purchase # <%= @purchase.id %></h2>
<div class="row">
	<div class="span2">
  	<b>Purchase No:</b>
  </div>	
  <%= @purchase.id %>
</div>
<div class="row">
	<div class="span2">
  	<b>Customer:</b>
  </div>	
  <%= @purchase.contact.name %>
</div>
<div class="row">
	<div class="span2">
  	<b>Stone Type:</b>
  </div>	
  <%= @purchase.stone_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sub Type:</b>
  </div>	
  <%= @purchase.sub_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Shape:</b>
  </div>	
  <%= @purchase.shape %>
</div>
<div class="row">
	<div class="span2">
  	<b>Piece:</b>
  </div>	
  <%= @purchase.piece %>
</div>
<div class="row">
	<div class="span2">
  	<b>Net Weight:</b>
  </div>	
  <%= @purchase.net_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Purchase Price:</b>
  </div>	
  <%= @purchase.purchase_price %>
</div>
<div class="row">
	<div class="span2">
  	<b>Length:</b>
  </div>	
  <%= @purchase.length %>
</div>
<div class="row">
	<div class="span2">
  	<b>Breadth:</b>
  </div>	
  <%= @purchase.breadth %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sarafa Weight:</b>
  </div>	
  <%= @purchase.sarafa_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Gross Weight:</b>
  </div>	
  <%= @purchase.gross_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Due Date:</b>
  </div>	
  <%= @purchase.due_date %>
</div>
<div class="row">
	<div class="span2">
  	<b>Discount:</b>
  </div>
  <%= @purchase.discount %>
</div>
<div class="row">
	<div class="span2">
  	<b>Broker Name:</b>
  </div>
  <%= @purchase.broker_name %>
</div>
<div class="row">
	<div class="span2">
  	<b>Remarks:</b>
  </div>	
  <%= @purchase.remarks %>
</div>

<h3> Details </h3>
	<table class="table table-bordered">  
		<thead>  
			<tr>  
				<th>Stock No</th>
				<th>Piece</th>
				<th>Net Weight</th>    
				<th>Remarks</th>
			</tr>  
		</thead>  
		<tbody>
			<% @purchase_stock.each do |item| %>
				<tr class="fields">
					<td><%= item.stock.stock_no %></td>
					<td><%= item.piece %></td>                                                   
					<td><%= item.net_weight %></td>
					<td><%= item.remarks %></td>	
				</tr>
			<% end %>
		</tbody>  
	</table> 

<%= link_to "Edit Purchase Stock", edit_purchase_stock_path(@purchase), :class => "btn btn-primary" %>
<%= link_to 'Back', :back, :class => "btn btn-primary" %>
<%= link_to 'Home', pages_index_path, :class => "btn btn-primary" %>
</div>