<div class="container">
<h2> Stock List : </h2>
<ul>
  <table class="table table-striped">  
    <thead>  
      <tr>  
        <th>Stock ID</th>
        <th>Stock No</th>
        <th>Stone Type</th>  
        <th>Sub Type</th>  
        <th>Shape</th>
        <th>Piece</th>
        <th>Net Weight</th>
        <th>Length x Breadth</th>
        <th>Sarafa Weight</th>
        <th>Gross Weight</th>
        <th>Updated At</th>
      </tr>  
    </thead>  
    <tbody>
    	<% @stocks.each do |stock| %>  
      <tr>  
        <td><%= stock.id %></td>
        <td><%= stock.stock_no %></td>
        <td><%= stock.stone_type %></td>
        <td><%= stock.sub_type %></td>
        <td><%= stock.shape %></td>
        <td><%= stock.piece %></td>
        <td><%= stock.net_weight %></td>
        <td><%= stock.length %> x <%= stock.breadth %></td>
        <td><%= stock.sarafa_weight %></td>
        <td><%= stock.gross_weight %></td>
        <td><%= stock.updated_at %></td>
        <td><%= link_to 'Show', stock %> |
    		<%= link_to 'Edit', edit_stock_path(stock) %> |
    		<%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr> 
      <% end %>  
    </tbody>  
 	</table> 
</ul>
<%= link_to "Add New Stock", new_stock_path %>
<%= link_to "Home", pages_index_path %>
</div>
