<div class="container">
<h2>Details for Stock # <%= @stock.id %></h2>
<div class="row">
	<div class="span2">
  	<b>Stock ID:</b>
  </div>	
  <%= @stock.id %>
</div>
<div class="row">
	<div class="span2">
  	<b>Stock No:</b>
  </div>	
  <%= @stock.stock_no %>
</div>
<div class="row">
	<div class="span2">
  	<b>Stone Type:</b>
  </div>	
  <%= @stock.stone_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sub Type:</b>
  </div>	
  <%= @stock.sub_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Shape:</b>
  </div>	
  <%= @stock.shape %>
</div>
<div class="row">
	<div class="span2">
  	<b>Piece:</b>
  </div>	
  <%= @stock.piece %>
</div>
<div class="row">
	<div class="span2">
  	<b>Net Weight:</b>
  </div>	
  <%= @stock.net_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Cost Price:</b>
  </div>	
  <%= @stock.cost_price %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sell Price:</b>
  </div>	
  <%= @stock.sell_price %>
</div>
<div class="row">
	<div class="span2">
  	<b>Length x Breadth:</b>
  </div>	
  <%= @stock.length %> x <%= @stock.breadth %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sarafa Weight:</b>
  </div>	
  <%= @stock.sarafa_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Gross Weight:</b>
  </div>
  <%= @stock.gross_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Remarks:</b>
  </div>	
  <%= @stock.remarks %>
</div>

<%= link_to "Edit Stock", edit_stock_path(@stock), :class => "btn btn-primary" %>
<%= link_to "Delete Stock", stock_path(@stock), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-primary" %>
<%= link_to "Back", :back, :class => "btn btn-primary" %>
</div>