<div class="container">
<%= form_for((@purchase), :html => { :class => "form-inline"}) do |f| %>
  <div class="field">
    <%= f.label :contact_id %><br />
    <%= f.hidden_field :contact_id %>
<!--    <%= f.collection_select :contact_id, Contact.all, :id, :name %>   -->
  </div>
  <div class="field">
    <%= f.label :stone_type %><br />
    <%= f.select :stone_type, @stone_type %>
  </div>
  <div class="field">
    <%= f.label :sub_type %><br />
    <%= f.select :sub_type, @sub_type %>
  </div>
  <div class="field">
    <%= f.label :shape %><br />
    <%= f.select :shape, @shape_type %>
  </div>
	<div class="field">
    <%= f.label :piece %><br />
    <%= f.text_field :piece %>
  </div>
	<div class="field">
    <%= f.label :net_weight %><br />
    <%= f.text_field :net_weight %>
  </div>
	<div class="field">
    <%= f.label :purchase_price %><br />
    <%= f.text_field :purchase_price %>
  </div>
	<div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </div>
	<div class="field">
    <%= f.label :breadth %><br />
    <%= f.text_field :breadth %>
  </div>
	<div class="field">
    <%= f.label :sarafa_weight %><br />
    <%= f.text_field :sarafa_weight %>
  </div>
	<div class="field">
    <%= f.label :gross_weight %><br />
    <%= f.text_field :gross_weight %>
  </div>
	<div class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </div>
	<div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </div>
	<div class="field">
    <%= f.label :remarks %><br />
    <%= f.text_field :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% if @purchase.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
    <% @purchase.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>