<div class="container">
<div class="row">
	<div class="span2">
  	<b>No:</b>
  </div>	
  <%= @purchase.id %>
</div>
<div class="row">
	<div class="span2">
  	<b>Contact:</b>
  </div>
  <%= @purchase.contact.name %>
</div>
<div class="row">
	<div class="span2">
  	<b>Stone Type:</b>
  </div>
  <%= @purchase.stone_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sub Type:</b>
  </div>
  <%= @purchase.sub_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Shape:</b>
  </div>
  <%= @purchase.shape %>
</div>
<div class="row">
	<div class="span2">
  	<b>Piece:</b>
  </div>
  <%= @purchase.piece %>
</div>
<div class="row">
	<div class="span2">
  	<b>Net Weight:</b>
  </div>
  <%= @purchase.net_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Purchase Price:</b>
  </div>
  <%= @purchase.purchase_price %>
</div>
<div class="row">
	<div class="span2">
  	<b>Length:</b>
  </div>
  <%= @purchase.length %>
</div>
<div class="row">
	<div class="span2">
  	<b>Breadth:</b>
  </div>
  <%= @purchase.breadth %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sarafa Weight:</b>
  </div>
  <%= @purchase.sarafa_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Gross Weight:</b>
  </div>
  <%= @purchase.gross_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Discount:</b>
  </div>
  <%= @purchase.discount %>
</div>
<div class="row">
	<div class="span2">
  	<b>Due Date:</b>
  </div>
  <%= @purchase.due_date %>
</div>
<div class="row">
	<div class="span2">
  	<b>Remarks:</b>
  </div>
  <%= @purchase.remarks %>
</div>

<%= link_to "Edit Purchase", edit_purchase_path(@purchase) %>
<%= link_to "Delete Purchase", purchase_path(@purchase), :method => :delete, :data => {:confirm => "Are you sure?"} %>
</div>