<div class="container">
<div class="row">
	<div class="span2">
  	<b>No:</b>
  </div>	
  <%= @purchase.id %>
</div>
<div class="row">
	<div class="span2">
  	<b>Supplier:</b>
  </div>
  <%= @purchase.contact.name %>
</div>
<div class="row">
	<div class="span2">
  	<b>Stock Type:</b>
  </div>
  <%= @purchase.stock_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Stone Type:</b>
  </div>
  <%= @purchase.stone_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Stone Type Description:</b>
  </div>
  <%= @purchase.stone_type_description %>
</div>
<div class="row">
	<div class="span2">
  	<b>Shape:</b>
  </div>
  <%= @purchase.shape %>
</div>
<div class="row">
	<div class="span2">
  	<b>Size:</b>
  </div>
  <%= @purchase.size %>
</div>
<div class="row">
	<div class="span2">
  	<b>Pieces / Lines:</b>
  </div>
  <%= @purchase.piece %>
</div>
<div class="row">
	<div class="span2">
  	<b>Net Weight:</b>
  </div>
  <%= @purchase.net_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Purchase Price Per ct:</b>
  </div>
  <%= @purchase.purchase_price_per_ct %>
</div>
<div class="row">
	<div class="span2">
  	<b>Sarafa Weight:</b>
  </div>
  <%= @purchase.sarafa_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Gross Weight:</b>
  </div>
  <%= @purchase.gross_weight %>
</div>
<div class="row">
	<div class="span2">
  	<b>Discount:</b>
  </div>
  <%= @purchase.discount %>
</div>
<div class="row">
	<div class="span2">
  	<b>Net Amount:</b>
  </div>
  <%= @purchase.calculate_net_amount %>
</div>
<div class="row">
	<div class="span2">
  	<b>Due Date:</b>
  </div>
  <%= @purchase.due_date %>
</div>
<div class="row">
	<div class="span2">
  	<b>Broker Name:</b>
  </div>
  <%= @purchase.broker_name %>
</div>
<div class="row">
	<div class="span2">
  	<b>Remarks:</b>
  </div>
  <%= @purchase.remarks %>
</div>

<%= link_to "Edit Purchase", edit_purchase_path(@purchase), :class => "btn btn-primary"  %>
<%= link_to "Delete Purchase", purchase_path(@purchase), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-primary"  %>
<%= link_to 'Back', :back, :class => "btn btn-primary" %>
<%= link_to 'Home', pages_index_path, :class => "btn btn-primary" %>
</div>