<div class="container">
<h1>Details for Order # <%= @order.id %></h1>
<div class="row">
	<div class="span2">
  	<b>Order No:</b>
  </div>	
  <%= @order.id %>
</div>
<div class="row">
	<div class="span2">
  	<b>Customer:</b>
  </div>	
  <%= @order.contact.name %>
</div>
<div class="row">
	<div class="span2">
  	<b>Order Date:</b>
  </div>
  <%= @order.order_date %>
</div>
<div class="row">
	<div class="span2">
  	<b>Due Date:</b>
  </div>	
  <%= @order.due_date %>
</div>
<div class="row">
	<div class="span2">
  	<b>Discount:</b>
  </div>
  <%= @order.discount %>
</div>
<div class="row">
	<div class="span2">
  	<b>Order Type:</b>
  </div>
  <%= @order.order_type %>
</div>
<div class="row">
	<div class="span2">
  	<b>Remarks:</b>
  </div>
  <%= @order.remarks %>
</div>

<h3> Details </h3>
	<table class="table table-bordered">  
		<thead>  
			<tr>  
				<th>Stock No</th>
				<th>Piece</th>
				<th>Net Weight</th>  
				<th>Price per ct</th>  
				<th>Remarks</th>
			</tr>  
		</thead>  
		<tbody>
			<% @order_detail.each do |item| %>
				<tr class="fields">
					<td><%= item.stock.stock_no %></td>
					<td><%= item.piece %></td>                                                   
					<td><%= item.net_weight %></td>
					<td><%= item.sell_price %></td>
					<td><%= item.remarks %></td>	
				</tr>
			<% end %>
		</tbody>  
	</table> 

<%= link_to "Edit Order", edit_order_path(@order), :class => "btn btn-primary" %>
<%= link_to "Delete Order", order_path(@order), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-primary" %>
<%= link_to 'Back', :back, :class => "btn btn-primary" %>
<%= link_to 'Home', pages_index_path, :class => "btn btn-primary" %>
</div>