<div class="container">
	<div class="row">
		<div class="span3">
			<div class="jumbotron">
				<h3>Supplier</h3>
				<p>Menu options for Supplier</p>
				<%= link_to "Add", {:controller => "contacts", :action => "new", :contact_type => "Supplier"}, :class => "btn btn-primary" %>
				<%= link_to "Search", {:controller => "suppliers", :action => "index"}, :class => "btn btn-primary" %>
			</div>
		</div>
		<div class="span3">
			<div class="jumbotron">
				<h3>Customer</h3>
				<p>Menu options for Customer</p>
				<%= link_to "Add", {:controller => "contacts", :action => "new", :contact_type => "Customer"}, :class => "btn btn-primary" %>
				<%= link_to "Search", {:controller => "customers", :action => "index"}, :class => "btn btn-primary" %>
			</div>
		</div>
	</div></br>
	<div class="row">
		<div class="span3">
			<div class="jumbotron">
				<h3>Stock</h3>
				<p>Menu options for Stock</p>
				<%= link_to "Add", {:controller => "stocks", :action => "new"}, :class => "btn btn-primary" %>
				<%= link_to "Search", {:controller => "stocks", :action => "index"}, :class => "btn btn-primary" %>
			</div>
		</div>
		<div class="span3">
			<div class="jumbotron">
				<h3>Expense</h3>
				<p>Menu options for Expense</p>
				<%= link_to "Add", {:controller => "expenses", :action => "new"}, :class => "btn btn-primary" %>
				<%= link_to "Search", {:controller => "expenses", :action => "index"}, :class => "btn btn-primary" %>
			</div>
		</div>
	</div>	
</div>	

	

