<div class="container">
<%= form_for((@contact),:validate => true, :html => { :class => "form-inline"}) do |f| %>
  <div class="field">
    <%= f.hidden_field :contact_type, :value => @contact_type %>
  </div>
	<div class="field row">
    <%= f.label :name, :class => "span2" %>
    <%= f.text_field :name %>
  </div><br />
  <div class="field row">
    <%= f.label :company, :class => "span2" %>
    <%= f.text_field :company %>
  </div><br />
  <div class="field row">
    <%= f.label :street_address, :class => "span2" %>
    <%= f.text_field :street_address %>
  </div><br />
  <div class="field row">
    <%= f.label :city, :class => "span2" %>
    <%= f.text_field :city %>
  </div><br />
  <div class="field row">
    <%= f.label :state, :class => "span2" %>
    <%= f.text_field :state %>
  </div><br />
  <div class="field row">
    <%= f.label :country, :class => "span2" %>
    <%= f.text_field :country %>
  </div><br />
  <div class="field row">
    <%= f.label :postal_code, :class => "span2" %>
    <%= f.text_field :postal_code %>
  </div><br />
  <div class="field row">
    <%= f.label :email, :class => "span2" %>
    <%= f.text_field :email %>
  </div><br />
  <div class="field row">
    <%= f.label :contact_number_1, :class => "span2" %>
    <%= f.text_field :contact_number_1 %>
  </div><br />
  <div class="field row">
    <%= f.label :contact_number_2, :class => "span2" %>
    <%= f.text_field :contact_number_2 %>
  </div><br />
  <div class="field row">
    <%= f.label :fax_number, :class => "span2" %>
    <%= f.text_field :fax_number %>
  </div><br />
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to	"Back", :back, :class => "btn btn-primary"%>
    <%= link_to "Home", pages_index_path, :class => "btn btn-primary" %>
  </div>
<% end %>

</div>