<div class="container">
<h2> Contact Dashboard </h2>
<ul>
  <table class="table table-striped">  
    <thead>  
      <tr>  
				<th>Type</th>
				<th>Name</th>
				<th>Company</th>
				<th>City</th>
      </tr>  
    </thead>  
    <tbody>
    	<% @contacts.each do |contact| %>  
      <tr>  
        <td><%= contact.contact_type %></td>
        <td><%= contact.name %></td>
        <td><%= contact.company %></td>
        <td><%= contact.city %></td>
        <td><%= link_to 'Show', contact %> |
    		<%= link_to 'Edit', edit_contact_path(contact) %> |
    		<%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
      <% end %>  
    </tbody>  
 	</table> 
</ul>
<%= link_to "Add New Contact", new_contact_path %>
</div>
