<div class="container">
<%= form_for((@expense), :html => { :class => "form-inline"}) do |f| %>
  <div class="field row">
    <%= f.label :expense_type, :class => "span2" %>
    <%= f.select :expense_type, ["Travel", "Lodge", "Food", "Others"] %>	
  </div></br>
  <div class="field row">
    <%= f.label :expense_date, :class => "span2" %>
    <%= f.date_select :expense_date %>
  </div></br>
  <div class="field row">
    <%= f.label :description, :class => "span2" %>
    <%= f.text_field :description %>
  </div></br>
  <div class="field row">
    <%= f.label :vendor_name, :class => "span2" %>
    <%= f.text_field :vendor_name %>
  </div></br>
  <div class="field row">
    <%= f.label :city, :class => "span2" %>
    <%= f.text_field :city %>
  </div></br>
  <div class="field row">
    <%= f.label :state, :class => "span2" %>
    <%= f.text_field :state %>
  </div></br>
  <div class="field row">
    <%= f.label :amount, :class => "span2" %>
    <%= f.text_field :amount %>
  </div></br>
  <div class="field row">
    <%= f.label :remarks, :class => "span2" %>
    <%= f.text_field :remarks %>
  </div></br>
  <div class="field row">
    <%= f.hidden_field :user_id %>
  </div></br>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to	"Back", :back, :class => "btn btn-primary"%>
  </div>
<% end %>
<% if @expense.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

    <ul>
    <% @expense.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>
