<div class="container">
<h1> Supplier Dashboard </h1>
<%= form_tag suppliers_index_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
  </p>
<% end %>
<ul>
  <table class="table table-bordered">  
    <thead>  
      <tr>  
        <th>Supplier ID</th>  
        <th>Supplier Name</th>  
        <th>Company</th>  
        <th>City</th>
        <th>State</th>
        <th>Country</th> 
        <th>Action</th>
      </tr>  
    </thead>  
    <tbody>
    	<% @suppliers.each do |supplier| %>  
      <tr>  
        <td><%= supplier.id %></td>
        <td><%= supplier.name %></td>
        <td><%= supplier.company %></td>
        <td><%= supplier.city %></td>
        <td><%= supplier.state %></td>
        <td><%= supplier.country %></td>
        <td><%= link_to 'Show', supplier, :class => "btn btn-primary" %>
    		<%= link_to 'Edit', edit_contact_path(supplier), :class => "btn btn-primary" %>
    		<%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %>
    		<%= link_to 'Show Purchase', {:controller => "purchases", :action => "index", :contact_id => supplier.id}, :class => "btn btn-primary" %>
    		<%= link_to 'Add Purchase', new_purchase_path(supplier), :class => "btn btn-primary" %></td>
      </tr> 
      <% end %>  
    </tbody>  
 	</table> 
</ul>
<%= link_to "Home", pages_index_path, :class => "btn btn-primary" %>
</div>
